@use "abstracts" as *;
@use "layouts" as *;

.category {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        max-width: 98.5rem;
        margin: 0 auto;
        padding: 0 16px;
    }

    &__header {
        @extend %bold5670;
        flex-basis: 100%;
    }


    &__submenu {
        width: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 8px;
        background: $white;
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0px 6px 20px rgba(29, 29, 31, 0.07);
        transition: all .5s;
        z-index: -1;

        &--buttons {
            display: none;
        }

        &--type {
            display: none;
        }

        &--flavor {
            display: none;
        }

        &--items {
            .category__submenu--header {
                display: none;
            }
        }

        &_active {
            z-index: 101;
            opacity: 1;
            width: 50%;
        }

        &_mobile {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8px;
            height: 100vh;
            top: 0;
            left: 0;
            box-sizing: border-box;
            overflow: scroll;
            z-index: 102;
            opacity: 1;
            width: 100vw;

            .category {
                &__submenu {

                    &--reset {
                        display: none;
                    }

                    &--type,
                    &--flavor,
                    &--header {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                    }

                    &--type,
                    &--flavor,
                    &--items {
                        .category__submenu--header {
                            @extend %medium1826;
    
                            color: $textgrey2;
                            flex-basis: 100%;
                        }
                    }

                    &--buttons {
                        display: flex;
                        gap: 16px;
                        margin: 16px 0 0 0;
                    }

                    &--clear,
                    &--apply {
                        @extend %medium1826;
                        flex: 1 1 auto;
                        border-radius: 12px;
                        padding: 16px;
                    }

                    &--clear {
                        background: $bg-grey;
                        color: $accent1;
                    }

                    &--apply {
                        background: $accent1;
                        color: $white;
                    }
                }

                &__filter {
                    &--fishitem {
                        display: flex;
                    }

                    &--row {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                    }

                    &--name {
                        display: block;
                    }

                    &--item,
                    &--flavoritem {
                        background: $bg-grey;
                    }
                }
            }
        }

        &--info {
            display: flex;
            justify-content: space-between;
            margin: 0 0 24px 0;
        }

        &--header {
            @extend %bold2430;
        }

        &--nav {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &--reset {
            @extend %medium1624;

            color: $accent2;
        }

        &--close {
            padding: 6px;
            background: $bg-grey;
            border-radius: 12px;
        }

        &--items {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        .category__filter--fishitem {
            outline: 2px solid $separate1;
        }
    }

    &__filter {
        &--wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &--type {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
        }

        &--row {
            display: flex;
            gap: 8px;
        }

        &--item {
            @extend %medium1624;
            background: $white;
            border-radius: 12px;
            padding: 12px 16px;

            &_active {
                background: $accent2 !important;
                color: $white;
            }
        }

        &--sort {
            @extend %regular1624;
            outline: none;
            border: none;
            background: none;
        }

        &--fish {
            position: relative;
        }

        &--flavor,
        &--fish {
            @extend %regular1624;

            display: flex;
            align-items: center;
            gap: 16px;
        }

        &--tabs {
            position: relative;
            display: flex;
            justify-content: space-between;
            max-height: 3.75rem;
            flex-basis: 100%;
        }

        &--flavoritem,
        &--fishitem,
        &--menu {
            @extend %medium1624;

            max-height: 3.75rem;
            display: flex;
            align-items: center;
            gap: 8px;
            background: $white;
            border-radius: 12px;
            padding: 16px;
        }

        &--menu {
            padding: 18px 16px;
            position: relative;
        }

        &--counter {
            @extend %medium1624;

            display: none;
            position: absolute;
            right: -15%;
            top: -15%;
            color: $white;
            padding: 3px 10px;
            background-color: $accent2;
            border-radius: 100px;
        }

        &--text {
            display: none;
        }

    }

    .active {
        outline: 2px solid $accent2;
        background: $white;
    }

    .cards {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 24%);
        gap: 16px;
        flex-wrap: wrap;

        &__preloader {
            position: relative;
        }

        .hit,
        .new,
        .spicy,
        .eco,
        .disposable {
            display: none;
        }

        &__header {
            @extend %bold4864;
        }

        &__button {
            align-self: center;
            justify-self: end;
            color: $accent1;
            background: $white;
            border-radius: 12px;
            padding: 12px 24px;
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            grid-column: span 2;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 8px;
            background: $white;
            border-radius: 12px;
            flex: 1 1 20%;
            padding: 24px;

            &--marks {
                @extend %medium1820;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 290px;
            }

            &--marktext {
                & > * {
                    padding: 8px 16px;
                    border-radius: 8px;
                }
            }

            &--header {
                @extend %bold2732;

                flex-grow: 0;
            }

            &--weight {
                @extend %medium1826;

                color: $accent2;
                flex-grow: 0;
            }

            &--data {
                display: flex;
                flex-direction: column;
            }

            &--text {
                @extend %regular1624;

                flex-grow: 1;
                max-width: 330px;
                color: $textgrey1;
                overflow: hidden;
            }

            &--info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                height: 20vh;
            }

            &--buttons {
                display: flex;
                justify-content: space-between;
                gap: 12px;
            }

            &--price {
                @extend %bold3840;
                align-self: flex-end;
            }

            &--currency {
                font-size: 1.625rem;
                color: $textgrey1;
            }

            &--favorite {
                background: $bg-grey;
                border-radius: 12px;
                padding: 16px 13px 14px;
            }

            &--add {
                background: $bg-green;
                border-radius: 12px;
                padding: 12px 24px;
            }

            &_new {
                .new {
                    display: inline;
                    color: $accent1;
                    background: $bg-green;
                }
            }

            &_hit {
                .hit {
                    display: inline;
                    color: $accent2;
                    background: $bg-orange;
                }
            }

            &_spicy {
                .spicy {
                    display: inline;
                }
            }

            &_eco {
                .eco {
                    display: inline;
                }
            }

            &_disposable {
                .disposable {
                    display: inline;
                }
            }

        }

        @media (max-width: 1350px) {
            grid-template-columns: repeat(auto-fit, 32%);
            &__item {
                &--price {
                    font-size: 1.5rem;
                }

                &--currency {
                    font-size: 1rem;
                }
            }
        }

        @media (max-width: 1240px) {
            &__row::after {
                content: "";
                flex: 25%;
            }
        }

        @media (max-width: 940px) {
            grid-template-columns: repeat(auto-fit, 49%);
        }

        @media (max-width: 900px) {
            &__row::after {
                content: none;
            }

            &__item {
                &--buttons {
                    gap: 8px;
                }
            }
        }

        @media (max-width: 830px) {
            grid-template-columns: repeat(auto-fit, 100%);
        }

        @media (max-width: 760px) {
            &__item {
                &--marktext {
                    padding: 12px;
                }
            }
        }

        @media (max-width: 550px) {
            .main {
                gap: 48px;
            }

            .container {
                grid-template-areas:
                    "header header"
                    "cards cards"
                    "button button";
            }

            &__row {
                grid-area: cards;
            }

            &__header {
                grid-area: header;
                text-align: center;
                font-size: 1.5rem;
            }

            &__button {
                padding: 16px;
                text-align: center;
                grid-area: button;
                align-self: start;
                justify-self: stretch;
            }

            &__item {
                flex-direction: row;
                padding: 12px;

                &--header {
                    font-size: 1rem;
                }

                &--data {
                    gap: 8px;
                }

                &--marks {
                    justify-content: flex-end;
                    height: auto;
                    flex: 0 1 60%;
                    background-position: top;
                }

                &--marktext {
                    display: flex;
                    gap: 8px;
                }

                &--icons {
                    display: none;
                }

                &--info {
                    height: auto;
                    margin: 0;
                }

                &--favorite {
                    align-self: center;
                    padding: 8px 12px;

                    & svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                &--add {
                    padding: 6px 14px;
                }
            }
        }

        @media (max-width: 1500px) {
            &__item {
                &--price {
                    font-size: 1.5rem;
                    line-height: 1rem;
                }
            }
        }

        @media (max-width: 950px) {
            &__item {
                &--price {
                    font-size: 1.4rem;
                    line-height: 1rem;
                }
            }
        }

        @media (max-width: 440px) {
            &__item {
                &--marks {
                    flex: 0 1 60%;
                }

                &--marktext {
                    flex-direction: column;
                }
            }
        }

        @media (max-width: 350px) {
            &__item {
                &--text {
                    font-size: 0.75rem;
                }

                &--price {
                    font-size: 1rem;
                }

                &--currency {
                    font-size: 0.75rem;
                }

                &--marks {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }
            }
        }
    }

    &__showmore {
        &--button {
            color: $accent1;
            background: $white;
            border-radius: 12px;
            margin: 20px 0 0 0;
            padding: 16px 60px;
            align-self: center;
        }
    }

    @media (max-width: 1350px) {
        &__filter {
            &--flavor,
            &--fish,
            &--row {
                gap: 4px;
            }
        }
    }

    @media (max-width: 1250px) {
        &__filter {
            &--name {
                display: none;
            }
        }
    }

    @media (max-width: 940px) {
        .container {
            justify-content: space-between;
        }

        &__filter {
            &--row {
                display: none;
            }

            &--flavor {
                display: none;
            }

            &--fish {
                width: 100%;

            }

            &--fishitem {
                display: none;
            }

            &--type,
            &--tabs {
                flex-basis: 45%;
                padding: 0 12px;
                background: $white;
                border-radius: 12px;
            }

            &--sort {
                width: 100%;
                padding: 18px;
            }

            &--menu {
                width: 100%;
                justify-content: center;
            }

            &--text {
                display: block;
            }
        }

        &__showmore {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        &__filter {
            &--type,
            &--tabs {
                flex-basis: 100%;
            }

            &--sort {
                padding: 18px 12px;
            }
        }
    }
}

.lock {
    overflow: hidden;
}
