@use "abstracts/" as *;
@use "layouts/" as *;

.banner {
    padding: 0 16px;

    .container {
        background: $white;
        border-radius: 24px;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 40px 0 90px;
        width: 50%;
    }

    &__header {
        color: $black;
        font-size: 4rem;
        font-weight: 400;
        line-height: 82px;
    }

    &__time {
        color: $textgrey1;
        font-size: 1.25rem;
        font-weight: 700;
    }

    &__button {
        @extend %bold1624;
        margin: 12px 0 0 0;
        padding: 16px 0;
        color: $white;
        background: $accent1;
        border-radius: 12px;
        width: 55%;
    }

    &__scroll {
        max-width: 50%;
        position: relative;

        &--image {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 1400px) {
        &__header {
            font-size: 3rem;
            line-height: 60px;
        }
    }

    @media (max-width: 1180px) {
        &__header {
            font-size: 2rem;
            line-height: 40px;
        }
    }

    @media (max-width: 920px) {
        padding: 0 8px;
        &__header {
            width: 80%;
        }

        &__row {
            flex-direction: column-reverse;
        }

        &__text {
            margin: 16px;
            width: 95%;
        }

        &__time {
            font-weight: 400;
            font-size: 16px;
        }

        &__button {
            align-self: center;
        }

        &__scroll {
            max-width: 100%;

            &--image {
                border-radius: 24px;
            }
        }
    }

    @media (max-width: 425px) {
        &__button {
            width: 100%;
        }
    }
}

.cards {
    .container {
        display: grid;
        grid-template-rows: 64px 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 0 16px;
    }

    .hit,
    .new,
    .spicy,
    .eco,
    .disposable {
        display: none;
    }

    &__header {
        @extend %bold4864;
    }

    &__button {
        align-self: center;
        justify-self: end;
        color: $accent1;
        background: $white;
        border-radius: 12px;
        padding: 12px 24px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        grid-column: span 2;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $white;
        border-radius: 12px;
        flex: 1 1 20%;
        padding: 24px;

        &--marks {
            @extend %medium1820;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 290px;
            background: url(/assets/png/item__image1.png) no-repeat center;
            background-size: contain;
        }

        &--marktext {
            & > * {
                padding: 8px 16px;
                border-radius: 8px;
            }
        }

        &--header {
            @extend %bold2732;

            flex-grow: 0;
        }

        &--weight {
            @extend %medium1826;

            color: $accent2;
            flex-grow: 0;
        }

        &--data {
            display: flex;
            flex-direction: column;
        }

        &--text {
            @extend %regular1624;

            flex-grow: 1;
            max-width: 330px;
            color: $textgrey1;
            overflow: hidden;
        }

        &--info {
            display: flex;
            justify-content: space-between;
            margin: 72px 0 0 0;
        }

        &--buttons {
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }

        &--price {
            @extend %bold3840;
            align-self: flex-end;
        }

        &--currency {
            font-size: 1.625rem;
            color: $textgrey1;
        }

        &--favorite {
            background: $bg-grey;
            border-radius: 12px;
            padding: 16px 13px 14px;
        }

        &--add {
            background: $bg-green;
            border-radius: 12px;
            padding: 12px 24px;
        }

        &_new {
            .new {
                display: inline;
                color: $accent1;
                background: $bg-green;
            }
        }

        &_hit {
            .hit {
                display: inline;
                color: $accent2;
                background: $bg-orange;
            }
        }

        &_spicy {
            .spicy {
                display: inline;
            }
        }

        &_eco {
            .eco {
                display: inline;
            }
        }

        &_disposable {
            .disposable {
                display: inline;
            }
        }
    }

    @media (max-width: 1350px) {
        &__item {
            &--price {
                font-size: 1.5rem;
            }

            &--currency {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 1240px) {
        &__row::after {
            content: "";
            flex: 25%;
        }
    }

    @media (max-width: 900px) {
        &__item {
            flex: 1 1 30%;
            &--buttons {
                gap: 8px;
            }
        }
    }

    @media (max-width: 760px) {
        &__row::after {
            content: none;
        }

        &__item {
            padding: 12px;

            &--marktext {
                padding: 12px;
            }
        }
    }

    @media (max-width: 530px) {
        .container {
            grid-template-areas:
                "header header"
                "cards cards"
                "button button";
        }

        &__row {
            grid-area: cards;
        }

        &__header {
            grid-area: header;
        }

        &__button {
            padding: 16px;
            text-align: center;
            grid-area: button;
            align-self: start;
            justify-self: stretch;
        }

        &__item {
            flex-direction: row;
            padding: 12px;

            &--header {
                font-size: 1rem;
            }

            &--data {
                gap: 8px;
            }

            &--marks {
                justify-content: flex-end;
                height: auto;
                flex: 0 1 60%;
                background-position: top;
            }

            &--marktext {
                display: flex;
                gap: 8px;
            }

            &--icons {
                display: none;
            }

            &--info {
                margin: 0;
            }

            &--favorite {
                align-self: center;
                padding: 8px 12px;

                & svg {
                    width: 24px;
                    height: 24px;
                }
            }

            &--add {
                padding: 6px 14px;
            }
        }
    }

    @media (max-width: 440px) {
        &__item {
            &--marks {
                flex: 0 1 30%;
            }

            &--marktext {
                flex-direction: column;
            }
        }
    }

    @media (max-width: 350px) {
        &__item {
            &--text {
                font-size: 0.75rem;
            }

            &--price {
                font-size: 1rem;
            }

            &--currency {
                font-size: 0.75rem;
            }

            &--marks {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
}
