@use "abstracts" as *;
@use "layouts" as *;

.order {
    .container {
        padding: 0 16px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 128px;
    }

    &__header {
        @extend %bold4864;
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__login {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &--enter {
            background: $white;
            border-radius: 12px;
            color: $accent1;
            text-align: center;
            max-width: 100%;
            padding: 16px;
        }

        &--order {
            align-self: center;
        }

        &--social {
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }

        &--item {
            align-items: center;
            background: $white;
            border-radius: 12px;
            color: $black;
            display: flex;
            flex: 1;
            gap: 12px;
            justify-content: center;
            padding: 10px;

            &:visited {
                color: $black;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--name {
            @extend %medium2430;
        }

        &--subtext {
            @extend %regular1420;
            color: $textgrey1;
        }

        &--input {
            @extend %regular1624;
            background: $bg-grey;
            border: none;
            border-radius: 12px;
            padding: 12px 16px;
            outline: none;
        }

        &--data {
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }

        &--header {
            display: flex;
            justify-content: space-between;
        }

        &--zone {
            align-items: center;
            display: flex;
            color: $accent2;
            gap: 12px;
            white-space: nowrap;
        }
    }

    &__personal,
    &__delivery,
    &__time,
    &__payment,
    &__comment {
        background: $white;
        border-radius: 12px;
        padding: 24px;
    }

    &__personal {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--row {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
        }
    }

    &__delivery {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--info {
            @extend %medium1624;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 8px;
            margin: 6px;
        }

        &--data {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &--row {
            background: $bg-grey;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
        }

        &--radio {
            cursor: pointer;

            &:checked + label {
                background: $accent2;
                border-radius: 12px;
                color: $white;
            }
        }

        &--city {
            @extend %medium1624;
            display: flex;
            gap: 8px;

            & > label {
                display: flex;
                align-items: center;
                background: $bg-grey;
                border-radius: 12px;
                justify-content: center;
                padding: 12px;
            }
        }

        &--address {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    &__time {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--data {
            display: flex;
            gap: 8px;
        }

        &--day {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
        }
    }

    &__payment {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--type {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & input[type="radio"] {
                display: inline-block;
            }

            & > * {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        &--change {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 40%;
        }

        &--radio {
            appearance: none;
            position: relative;
            display: inline-block;
            border: 1px solid $textgrey3;
            border-radius: 50%;
            background: $white;
            height: 24px;
            width: 24px;
            outline-offset: -1px;
            color: $accent2;

            &:hover {
                outline: 1px solid $accent2;
            }

            &:checked {
                outline: 1px solid $accent2;
            }

            &:checked::before {
                content: "";
                background: $accent2 center;
                border-radius: 50%;
                position: absolute;
                height: 16px;
                width: 16px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__comment {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--row {
            display: flex;
            gap: 8px;
        }

        &--sticks {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
        }

        &--txt {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & textarea {
                resize: none;
            }
        }

        &--pets {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &--animal {
                align-items: center;
                display: flex;
                gap: 8px;
            }
        }

        &--checkbox {
            appearance: none;
            border: 2px solid $textgrey3;
            border-radius: 6px;
            display: inline-block;
            height: 24px;
            position: relative;
            width: 24px;
            outline-offset: -2px;

            &:hover,
            &:checked {
                outline: 2px solid $accent2;
            }

            &:checked::before {
                content: "";
                background: url(/assets/svg/checkbox.svg) 50%, $accent2;
                border-radius: 50%;
                position: absolute;
                height: 16px;
                width: 16px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 64px;
    }

    &__cart {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--item {
            align-items: center;
            background: $white;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            padding: 12px 24px;
            position: relative;
        }

        &_mobile {
            display: none;
        }

        &--remove {
            background: $bg-grey;
            border-radius: 8px;
            position: absolute;
            padding: 7px;
            left: -2%;
            top: 30%;
        }

        &--info {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        &--image {
            width: 80px;
            height: 70px;
        }

        &--name {
            @extend %medium1826;
        }

        &--summary {
            display: flex;
            gap: 32px;
        }

        &--weight {
            @extend %medium1420;
            color: $accent2;
        }

        &--price {
            @extend %medium1624;
            align-items: center;
            display: flex;
        }

        &--amount {
            align-items: center;
            display: flex;
            gap: 8px;
        }

        &--minus,
        &--plus {
            padding: 7px;
            background: #f5f5f7;
            border-radius: 8px;
        }
    }

    &__recommend {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &--header {
            @extend %bold2430;
        }

        .cards {
            flex-basis: 100%;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fit, 23%);
            gap: 16px;

            &__preloader {
                position: relative;
            }

            .hit,
            .new,
            .spicy,
            .eco,
            .disposable {
                display: none;
            }

            &__header {
                @extend %bold4864;
            }

            &__button {
                align-self: center;
                justify-self: end;
                color: $accent1;
                background: $white;
                border-radius: 12px;
                padding: 12px 24px;
            }

            &__row {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                grid-column: span 2;
            }

            &__item {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 8px;
                background: $white;
                border-radius: 12px;
                flex: 1 1 20%;
                padding: 24px;

                &--marks {
                    @extend %medium1820;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 290px;
                }

                &--marktext {
                    & > * {
                        padding: 8px 16px;
                        border-radius: 8px;
                    }
                }

                &--header {
                    @extend %bold2732;

                    flex-grow: 0;
                }

                &--weight {
                    @extend %medium1826;

                    color: $accent2;
                    flex-grow: 0;
                }

                &--data {
                    display: flex;
                    flex-direction: column;
                }

                &--text {
                    @extend %regular1624;

                    flex-grow: 1;
                    max-width: 330px;
                    color: $textgrey1;
                    overflow: hidden;
                }

                &--info {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: 20vh;
                }

                &--buttons {
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;
                    position: relative;
                }

                &--add {
                    &--added {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .cards {
                            &__item {
                                &--counter {
                                    display: block;
                                    width: 20px;
                                    text-align: center;
                                }

                                &--minus {
                                    z-index: 1;
                                    opacity: 1;
                                    left: 0;
                                }

                                &--plus,
                                &--minus {
                                    padding: 12px;
                                }
                            }
                        }
                    }
                }

                &--price {
                    @extend %bold2430;
                    align-self: flex-end;
                }

                &--currency {
                    font-size: 1rem;
                    color: $textgrey1;
                }

                &--favorite {
                    background: $bg-grey;
                    border-radius: 12px;
                    padding: 16px 13px 14px;
                }

                &--plus,
                &--minus {
                    background: $bg-green;
                    border-radius: 12px;
                    padding: 12px 24px;
                    transition: all 0.25s;

                    & > svg {
                        pointer-events: none;
                    }
                }

                &--minus {
                    z-index: -1;
                    opacity: 0;
                    position: absolute;
                    left: 46%;
                }

                &--counter {
                    display: none;
                    font-weight: 600;
                }

                &_new {
                    .new {
                        display: inline;
                        color: $accent1;
                        background: $bg-green;
                    }
                }

                &_hit {
                    .hit {
                        display: inline;
                        color: $accent2;
                        background: $bg-orange;
                    }
                }

                &_spicy {
                    .spicy {
                        display: inline;
                    }
                }

                &_eco {
                    .eco {
                        display: inline;
                    }
                }

                &_disposable {
                    .disposable {
                        display: inline;
                    }
                }
            }

            @media (max-width: 1350px) {
                grid-template-columns: repeat(auto-fit, 32%);
                &__item {
                    &--price {
                        font-size: 1.5rem;
                    }

                    &--currency {
                        font-size: 1rem;
                    }
                }
            }

            @media (max-width: 1240px) {
                &__row::after {
                    content: "";
                    flex: 25%;
                }
            }

            @media (max-width: 940px) {
                grid-template-columns: repeat(auto-fit, 49%);
            }

            @media (max-width: 900px) {
                &__row::after {
                    content: none;
                }

                &__item {
                    &--buttons {
                        gap: 8px;
                    }
                }
            }

            @media (max-width: 830px) {
                grid-template-columns: repeat(auto-fit, 100%);
            }

            @media (max-width: 760px) {
                &__item {
                    &--marktext {
                        padding: 12px;
                    }
                }
            }

            @media (max-width: 550px) {
                &__row {
                    grid-area: cards;
                }

                &__header {
                    grid-area: header;
                    text-align: center;
                    font-size: 1.5rem;
                }

                &__button {
                    padding: 16px;
                    text-align: center;
                    grid-area: button;
                    align-self: start;
                    justify-self: stretch;
                }

                &__item {
                    flex-direction: row;
                    padding: 12px;

                    &--header {
                        font-size: 1rem;
                    }

                    &--data {
                        gap: 8px;
                    }

                    &--marks {
                        justify-content: flex-end;
                        height: auto;
                        flex: 0 1 60%;
                        background-position: top;
                    }

                    &--marktext {
                        display: flex;
                        gap: 8px;
                    }

                    &--icons {
                        display: none;
                    }

                    &--info {
                        height: auto;
                        margin: 0;
                    }

                    &--plus,
                    &--minus {
                        padding: 12px;
                    }

                    &--favorite {
                        padding: 8px 12px;

                        & svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            @media (max-width: 1500px) {
                &__item {
                    &--price {
                        font-size: 1.5rem;
                        line-height: 1rem;
                    }
                }
            }

            @media (max-width: 950px) {
                &__item {
                    &--price {
                        font-size: 1.4rem;
                        line-height: 1rem;
                    }
                }
            }

            @media (max-width: 440px) {
                &__item {
                    &--marks {
                        flex: 0 1 60%;
                    }

                    &--marktext {
                        flex-direction: column;
                    }
                }
            }

            @media (max-width: 350px) {
                &__item {
                    &--text {
                        font-size: 0.75rem;
                    }

                    &--price {
                        font-size: 1rem;
                    }

                    &--currency {
                        font-size: 0.75rem;
                    }

                    &--marks {
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }
    }

    &__promo {
        display: flex;
        gap: 16px;

        &--input {
            @extend %regular1826;
            background: $white;
            border-radius: 12px;
            border: none;
            outline: none;
            padding: 16px;
        }

        &--check {
            @extend %medium1624;
            background: $white;
            border-radius: 12px;
            color: $accent1;
            padding: 16px;
            flex-basis: 15%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__final {
        background: $white;
        border-radius: 12px;
        padding: 12px 24px;

        &--info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &--text {
            display: flex;
            flex: 1;
            justify-content: space-between;
        }

        &--subtext {
            @extend %regular1420;
            color: $textgrey1;
        }

        &--amount {
            @extend %bold3240;
        }

        &--currency {
            font-size: 1.3125rem;
            font-weight: 700;
            color: $textgrey1;
        }

        &--submit {
            @extend %medium1624;
            background: $accent1;
            border: none;
            border-radius: 12px;
            color: $white;
            padding: 16px 24px;
        }

        &--min {
            @extend %regular1624;
            color: $accent2;
        }
    }

    @media (max-width: 1180px) {
        &__row {
            gap: 32px;
        }
    }

    @media (max-width: 940px) {
        &__row {
            flex-direction: column;
        }
    }

    @media (max-width: 500px) {
        &__header {
            font-size: 1.75rem;
        }

        &__login {
            &--social {
                flex-direction: column;
            }
        }

        &__form {
            &--data {
                flex-direction: column;
            }

            &--zone {
                font-size: 0.75rem;
            }
        }

        &__delivery {
            &--city {
                flex-wrap: wrap;

                & > * {
                    flex: 1 1 40%;
                }
            }
        }

        &__time {
            &--data {
                flex-direction: column;
            }
        }

        &__payment {
            &--change {
                max-width: 70%;
            }
        }

        &__comment {
            &--row {
                flex-direction: column;
            }
        }

        &__promo {
            flex-direction: column;

            &--input {
                width: 100%;
            }
        }

        &__cart {
            display: none;

            &--header {
                font-size: 1.5rem;
                font-weight: 500;
            }

            &_mobile {
                background: $white;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 24px;
            }

            &--list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8px;
            }

            &--item {
                background: $bg-grey;
                border-radius: 50%;
                padding: 8px;

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            &--string {
                color: $textgrey1;
                line-height: 150%;
            }
        }

        &__final {
            &--text {
                flex-direction: column;
            }
        }
    }
}
