$accent1: #00CC2D;
$accent2: #FF6633;
$textgrey1: #686870;
$textgrey2: #86868B;
$textgrey3: #9E9E9E;
$black: #1D1D1F;
$white: #fff;
$yellow: #FFC700;
$blue: #039BE5;
$red: #F44837;
$green: #55B20B;
$separate1: #D2D2D7;
$separate2: #EDEDED;
$separate3: #F5F5F5;
$bg-grey: #F5F5F7;
$bg-transperent1: rgba(39, 39, 39, 0.05);
$bg-transperent2: rgba(39, 39, 39, 0.1);
$bg-yellow: #FEF7ED;
$bg-orange: #FBDCD5;
$bg-green: #CCF5D5;
$bg-hover-orange: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #FF6633;
$bg-hover-green: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00CC2D;